<!DOCTYPE html>
<html>
<head>
  <title>Jialogue</title>
  <!-- <script src="https://frzr.js.org/dist/frzr.min.js"></script> -->
  <script src="https://frzr.js.org/dist/frzr.min.js"></script>
  <script src="/main.js"></script>
</head>
<body>
  <p><a href="https://frzr.js.org">frzr.js.org</a></p>

  <div id="app"></div>

</body>
</html>



